{{ define "main" }}
<article class="post">
    <header>
        <h1>{{ .Title }}</h1>
        <br>
        <!-- <h2 class="subtitle">{{ .Description | markdownify }}</h2> -->
        {{ if ne .Title "About" }}
        <h2 class="headline">
            {{ with .Date }}
            {{ .Format "January 2, 2006" }}
            <br><br>
            {{ end }}
            {{ with .Params.tags }}
            {{ if ge (len .) 1 }}
            {{ range . }}
            <a class="tag" href="{{ printf "tags/%s" (. | urlize) | absURL }}">#{{ . }}</a>
            {{ end }}
            {{ end }}
            {{ end}}
        </h2>
        {{ end }}
    </header>
    <section id="post-body">
        {{ .Content }}
    </section>
</article>

<footer id="flex-footer" class="flex-container">
    <img class="avatar" src="{{ "images/avatar.jpg" | absURL }}" style="align-self: center;">
    <div class="flex-footer-text">
        <div class="dark">{{ .Site.Params.name }}</div>
        <div class="light">{{ .Site.Params.aboutAuthor }}</div>
        <div>
            <a href="https://twitter.com/{{ .Site.Params.twitter }}?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                data-size="large" data-show-count="false">{{ .Site.Params.tweet | default "Follow" }}
                @{{ .Site.Params.twitter }}</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</footer>

{{ template "_internal/disqus.html" . }}

{{ if ne .Title "About" }}
{{ partial "latest-posts.html" . }}
{{ end }}
{{ end }}